<%- include('../includes/head')%>

    <body>

        <%- include('../includes/preloader') %>

        <%- include('../includes/header') %>

        <%- include('../includes/whatsapp-button') %>

        <main class="about-us">
            <div class="about-us__container">
                <div class="about-us__container__what-we-want">
                    <h1>Queremos um mundo mais <span class="blue">azul</span> e <span class="green">verde</span>.</h1>
                    <h5>Juntar sustentabilidade com economia financeira é o nosso objetivo.</h5>
                </div>

                <div class="about-us-image">
                    <img src="./images/sobre_img1.jpg" alt="Imagem de natureza">
                </div>

                <div class="about-us__container__what-we-do">
                    <h2>O que fazemos</h2>

                    <div class="about-us__container__what-we-do__container">
                        <div class="about-us__container__what-we-do__container__squares">
                            <div class="about-us__container__what-we-do__container__squares__square">
                                <img src="./images/sustentabilidade-card.jpg" alt="Imagem representando sustentabilidade">
                            </div>
                            <div class="about-us__container__what-we-do__container__squares__square">
                                <img src="./images/economia-card.jpg" alt="Imagem representando economia">

                            </div>
                            <div class="about-us__container__what-we-do__container__squares__square">
                                <img src="./images/fontes-renovaveis-card.jpg" alt="Imagem representando fontes renováveis">

                            </div>
                            <div class="about-us__container__what-we-do__container__squares__square">
                                <img src="./images/inovacao-card.jpg" alt="Imagem representando inovação">

                            </div>
                        </div>
    
                        <div class="about-us__container__what-we-do__container__card">
                            <h2>Quem somos nós</h2>
    
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa. Fusce elementum ex nec tortor finibus, non interdum lectus mattis. Sed mattis augue eros, eu eleifend purus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa. Fusce elementum ex nec tortor finibus, non interdum lectus mattis. Sed mattis augue eros, eu eleifend purus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa.</p>
                        </div>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa. Fusce elementum ex nec tortor finibus, non interdum lectus mattis. Sed mattis augue eros, eu eleifend purus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa.

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa. Fusce elementum ex nec tortor finibus, non interdum lectus mattis. Sed mattis augue eros, eu eleifend purus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa.
                        
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa. Fusce elementum ex nec tortor finibus, non interdum lectus mattis. Sed mattis augue eros, eu eleifend purus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa.
                        
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa. Fusce elementum ex nec tortor finibus, non interdum lectus mattis. Sed mattis augue eros, eu eleifend purus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa.</p>

                </div>

                <div class="about-us__container__why-interface">
                    <h2>Por que escolher a interface?</h2>

                    <div class="about-us__container__why-interface__container">
                        <div class="about-us__container__why-interface__container__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa. Fusce elementum ex nec tortor finibus, non interdum lectus mattis. Sed mattis augue eros, eu eleifend purus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa.</p>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa. Fusce elementum ex nec tortor finibus, non interdum lectus mattis. Sed mattis augue eros, eu eleifend purus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa. </p>
                                
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa. Fusce elementum ex nec tortor finibus, non interdum lectus mattis. Sed mattis augue eros, eu eleifend purus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa.</p>
                                
                               <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa. Fusce elementum ex nec tortor finibus, non interdum lectus mattis. Sed mattis augue eros, eu eleifend purus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa.</p>

                        </div>

                        <div class="about-us__container__why-interface__container__img">
                            <img src="./images/sobre_logo.png" alt="Logo da Interface">
                        </div>
                    </div>
                </div>

                <div class="about-us-image">
                    <img src="./images/sobre_img2.jpg" alt="Imagem de natureza">
                </div>

                <div class="about-us__container__objectives">
                    <div class="about-us__container__objectives__objective">
                        <div class="empty"></div>
                        <div class="about-us__container__objectives__objective__card missao">
                            <img src="./images/missao-card.png" alt="Imagem representando missão da empresa">
                        </div>
                        <p class="p-missao">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa. Fusce elementum ex nec tortor finibus, non interdum lectus mattis. Sed mattis augue eros, eu eleifend purus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa. Fusce elementum ex nec tortor finibus, non interdum lectus mattis. Sed mattis augue eros, eu eleifend purus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa.
                        </p>
                    </div>
                    <div class="about-us__container__objectives__objective">
                        <p class="p-visao">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa. Fusce elementum ex nec tortor finibus, non interdum lectus mattis. Sed mattis augue eros, eu eleifend purus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa. Fusce elementum ex nec tortor finibus, non interdum lectus mattis. Sed mattis augue eros, eu eleifend purus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa.
                        </p>
                        <div class="about-us__container__objectives__objective__card">
                            <img src="./images/visao-card.png" alt="Imagem representando visão da empresa">
                        </div>

                    </div>
                    <div class="about-us__container__objectives__objective">
                        <div class="about-us__container__objectives__objective__card">
                            <img src="./images/valores-card.png" alt="Imagem representando valores da empresa">
                        </div>
                        <p class="p-valores">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa. Fusce elementum ex nec tortor finibus, non interdum lectus mattis. Sed mattis augue eros, eu eleifend purus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa. Fusce elementum ex nec tortor finibus, non interdum lectus mattis. Sed mattis augue eros, eu eleifend purus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel pretium felis, sit amet malesuada massa.
                        </p>
                    </div>
                </div>

                <div class="about-us__container__founder">
                    <h2>
                        Fundador
                    </h2>

                    <div class="about-us__container__founder__container">
                        <div class="about-us__container__founder__container__card">

                            <div class="image">
                                <img src="./images/person-test.jpg" alt="Foto do Fundador da empresa">

                            </div>
    
                            <h2>Murilo Dias</h2>
    
                            <p>Murilo Dias, formado em Engenharia, na Universidade Estadual de Maringá (UEM).</p>
                        </div>

                    </div>
                </div>
            </div>
        </main>

        <%- include('../includes/footer') %>

        <script src="./scripts/preloader.js"></script>
        <script src="./scripts/header.js"></script>


    </body>
</html>
