<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#1d99a7" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../../styles/style.css" />
    <link rel="shortcut icon" href="../../../images/favicon-32x32.png" />


    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

    <title>
        <%- title %>
    </title>
</head>

</html>

<body>
    <%- include('../includes/preloader') %>

        <div class="admin-container">

            <%- include('../includes/asideAdmin') %>

                <main class="main">
                    <div class="main__container">
                        <div class="new-post">
                            <h2 class="title-new-post">CRIAR NOVO PORTFÓLIO</h2>

                            <%- include('../includes/messages') %>

                                <form action="/user/admin/edit/<%= portfolio._id %> " method="POST" id="new-post"
                                    enctype="multipart/form-data">

                                    <div class="name-category">
                                        <div class="name">
                                            <label for="name">Nome:</label>
                                            <input type="text" id="name" name="name" value="<%= portfolio.name %>"
                                                required>
                                        </div>

                                        <div class="category">
                                            <label for="category">Categoria:</label>
                                            <select name="category" id="category">
                                                <option value="placas">Placas Solares</option>
                                                <option value="chuva">Água da chuva</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="person-function">
                                        <div class="person">
                                            <label for="person">Nome da pessoa/empresa:</label>
                                            <input type="text" id="person" name="person" maxlength="20" value="<%= portfolio.person %>" >
                                        </div>

                                        <div class="function">
                                            <label for="function">Função na empresa:</label> 
                                            <input type="text" id="function" name="function" maxlength="26" value= "<%= portfolio.function %>">
                                        </div>
                                    </div>

                                    <div class="testimonial-div">
                                        <label for="testimonialText">Testimonial:</label>
                                        <input type="text" name="testimonialText" maxlength="225" value= "<%= portfolio.testimonialText %>" >
                                    </div>

                                    <div class="address">
                                        <label for="address">Endereço:</label>
                                        <input name="address" id="address" value="<%= portfolio.address %>"
                                            required></input>
                                    </div>

                                    <div class="description">
                                        <label for="description">Descrição:</label>
                                        <textarea name="description" id="description" required><%= portfolio.description %></textarea>
                                    </div>

                                    <div class="video">
                                        <label for="videoURL">URL do vídeo:</label>
                                        <input type="text" id="videoURL" value="<%= portfolio.videoURL %>"
                                            name="videoURL">
                                    </div>

                                    <div class="imagesClass">
                                        <label for="images">Fotos:</label>
                                        <input type="file" name="images" id="images" multiple accept="images/*">

                                        <div class="images-posted">
                                            <% portfolio.images.forEach(image=> { %>
                                                <div class="image-posted">
                                                    <img src="<%= image.url %> " />
                                                    <a href="/user/delete-image/<%= portfolio._id %>/<%= image.key %>"
                                                        class="delete-button"><i class="fas fa-trash-alt"></i></a>
                                                </div>
                                                <% }) %>
                                        </div>
                                    </div>

                                    <button type="submit" form="new-post">Salvar</button>
                                </form>
                        </div>

                    </div>
                </main>
        </div>

        <script src="../../../scripts/preloader.js" type="text/javascript"></script>
</body>

</html>