<%- include('includes/head') %>

    <body>
        <%- include('includes/preloader') %>

        <%- include('includes/header') %>

        <%- include('includes/whatsapp-button') %>

        <main class="case">
            <div class="case__container">
                <div class="case__container__title">
                    <h2>Casa de Fachada</h2>
                </div>

                <div class="case__container__description">
                    <h4>Descrição</h4>
                    <p id="case-local">Local: Av. Iguaçu, Centro - Paranavaí/PR</p>
                    <p>Serviço: <span id="case-descricao">Instalação de 10 (dez) placas voltaicas.</span></p>
                </div>

                <div class="case__container__midia">
                    <div class="case__container__midia__video">
                        <video></video>
                    </div>

                    <div class="case__container__midia__fotos">
                        <div class="case__container__midia__fotos__title">
                            <h4>Fotos de nosso trabalho</h4>
                            <p>Registros fotográficos que comprovam nossa excelência</p>
                        </div>
                        <div
                            style="
                                --swiper-navigation-color: #fff;
                                --swiper-pagination-color: #fff;
                            "
                            class="swiper-container mySwiper2"
                        >
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-1.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-2.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-3.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-4.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-5.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-6.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-7.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-8.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-9.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-10.jpg"
                                    />
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                        <div thumbsSlider="" class="swiper-container mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-1.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-2.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-3.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-4.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-5.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-6.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-7.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-8.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-9.jpg"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-10.jpg"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%- include('includes/footer') %>


        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

        <script src="./scripts/preloader.js" type="text/javascript"></script>
        <script src="./scripts/header.js" type="text/javascript"></script>

        <script>
            var swiper = new Swiper(".mySwiper", {
                loop: true,
                spaceBetween: 10,
                slidesPerView: 4,
                freeMode: true,
                watchSlidesVisibility: true,
                watchSlidesProgress: true,
            });
            var swiper2 = new Swiper(".mySwiper2", {
                loop: true,
                spaceBetween: 10,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                thumbs: {
                    swiper: swiper,
                },
            });
        </script>
    </body>
</html>
