<%- include('includes/head') %>

    <body>
        <%- include('includes/preloader') %>

        <%- include('includes/header') %>


        <main class="login-section">
            <div class="login-container">
                <img src="./images/brand Interface-05.png" alt="">
                <form action="/login/login" id="login" method="POST">
                    <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                    <%- include('includes/error') %> 
                    <label for="username">Usuário:</label>
                    <input type="text" name="username" required>
                    <label for="password">Senha:</label>
                    <input type="password" name="password" required>
    
                    <button form="login" type="submit">Entrar</button>
    
                </form> 
            </div>

        </main>


        <script src="./scripts/preloader.js"></script>
        <script src="./scripts/header.js"></script>
    
    </body>
</html>
