<%- include('includes/head') %>


    <body>
        <%- include('includes/preloader') %>

        <%- include('includes/header') %>

        <%- include('includes/whatsapp-button') %>


        <main class="simulador">
            <div class="simulador__container">
                <div class="simulador__container__title">
                    <h3>Simulador - Energia Solar</h3>
                    <h5>Vamos estimar seu orçamento AGORA?</h5>
                    <p>
                        Com esta simulação, você saberá todas as informações
                        sobre os painéis a serem instalados.
                    </p>
                    <p>Se tiver qualquer dúvida, entre em contato conosco.</p>
                </div>

                <div class="simulador__container__form__container">
                    <div
                        class="
                            simulador__container__form__container__form-container
                        "
                    >
                        <form action="" id="simulacao-form">
                            <label for="cep">CEP da instalação</label>
                            <input
                                type="text"
                                name="cep"
                                id="cep"
                                required
                                maxlength="9"
                            />

                            <label for="estado">Estado</label>
                            <input
                                type="text"
                                name="estado"
                                id="estado"
                                required
                            />
                            <label for="cidade">Cidade</label>
                            <input
                                type="text"
                                name="cidade"
                                id="cidade"
                                required
                            />
                            <label for="concessionaria"
                                >Concessionária de energia</label
                            >
                            <input
                                type="text"
                                name="concessionaria"
                                id="concessionaria"
                                required
                            />
                            <label for="gasto"
                                >Gasto mensal com conta de luz</label
                            >
                            <input
                                type="number"
                                name="gasto"
                                id="gasto"
                                required
                            />

                            <button type="submit" id="btnSimular">
                                Simular
                            </button>
                        </form>
                    </div>

                    <div class="simulador__container__form__container__img">
                        <img
                            src="./images/contact-img.png"
                            alt="Imagem ilustrativa"
                        />
                    </div>
                </div>

                <div class="simulador__container__resultado hidden">
                    <h3>Resultado</h3>
                    <div class="simulador__container__resultado__infos">
                        <div
                            class="simulador__container__resultado__infos__info"
                        >
                            <h4>Potência instalada</h4>
                            <p><span id="potencia-instalada"></span>kWp</p>
                        </div>

                        <div
                            class="simulador__container__resultado__infos__info"
                        >
                            <h4>Área mínima necessária</h4>
                            <p><span id="area-minima-necessaria"></span>m²</p>
                        </div>

                        <div
                            class="simulador__container__resultado__infos__info"
                        >
                            <h4>Quantidade de painéis</h4>
                            <p>
                                <span id="quantidade-paineis"></span> de
                                <span>405</span>W
                            </p>
                        </div>

                        <div
                            class="simulador__container__resultado__infos__info"
                        >
                            <h4>Produção mensal</h4>
                            <p><span id="producao-mensal"></span>kWh/mês</p>
                        </div>

                        <div
                            class="simulador__container__resultado__infos__info"
                        >
                            <h4>Economia anual</h4>
                            <p>R$ <span id="economia-anual"></span></p>
                        </div>
                    </div>

                    <div class="myCanvas">
                        <canvas id="myChart"></canvas>
                    </div>

                    <div class="simulador__container__resultado__disclaimer">
                        * expectativa de produção mensal de energia (kWh/mês)
                        calculada com base em dados históricos medidos pela PV
                        Operation e Interpolação de medição via satélite.
                    </div>

                    <div class="simulador__container__resultado__valores">
                        <div
                            class="
                                simulador__container__resultado__valores__card
                            "
                        >
                            <h3>À vista (incluindo instalação)</h3>
                            <p>boleto ou cartão</p>

                            <div
                                class="
                                    simulador__container__resultado__valores
                                    card__valor
                                "
                            >
                                de R$
                                <span
                                    class="valor-min vista"
                                    id="valor-min-vista"
                                ></span>
                                até R$
                                <span
                                    class="valor-max vista"
                                    id="valor-max-vista"
                                ></span>
                            </div>
                        </div>

                        <div
                            class="
                                simulador__container__resultado__valores__card
                            "
                        >
                            <h3>Financiado (incluindo instalação)</h3>
                            <p>72x com 60 dias para pagar, parcelas:</p>

                            <div
                                class="
                                    simulador__container__resultado__valores
                                    card__valor
                                "
                            >
                                de R$
                                <span
                                    class="valor-min parcelado"
                                    id="valor-min-parcelado"
                                ></span>
                                até R$
                                <span
                                    class="valor-max parcelado"
                                    id="valor-max-parcelado"
                                ></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%- include('includes/footer') %>


        <script>
            $(document).ready(function () {
                $("#cep").mask("00000-000");
            });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script>

        <script src="./scripts/preloader.js" type="text/javascript"></script>
        <script src="./scripts/header.js" type="text/javascript"></script>
        <script src="./scripts/simulacao.js" type="text/javascript"></script>
        <script src="./scripts/chart.js" type="text/javascript"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"
            integrity="sha512-2fk3Q4NXPYAqIha0glLZ2nluueK43aNoxvijPf53+DgL7UW9mkN+uXc1aEmnZdkkZVvtJZltpRt+JqTWc3TS3Q=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/ScrollTrigger.min.js"
            integrity="sha512-jNJOCd1PIjJoUa1XTDKaPdBLNUe4OJTrltKG+70O5ghYZ943nTRGIzjObwC2JtSm1fG7T06GbUApR2eirIU/jA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
    </body>
</html>
